#__nuxt,
#__layout,
html,
body {
  height: 100%;
}
body {
  background-image: repeating-linear-gradient(0deg, #a63b7e, transparent );
  background-attachment: fixed;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
}
.v-main__wrap,.container,.v-main, .v-application {height: 100%;}
._title {
  -webkit-text-stroke: 2px mediumvioletred;
  font-family: "Material Design Icons";
  font-size: 2rem;
  text-shadow: 3px 5px 4px white;
}
.h-80 {height: 80%;}
.glass-morph {
  background: rgba(255, 255, 255, 0.4) !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.dark-morph {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.theme--light.v-navigation-drawer {
  background-color: transparent;
}
.bg-violet-gr {
  background: repeating-linear-gradient(180deg,black, #24182e, #502d5d);
}
.flex-auto {
  flex: auto;
}
.w-100 {
  width: 100%;
}
.h-100{
  height: 100%;
}
.bg-firebrick {
  background-color: rgb(255, 88, 88);
}
.bg-skyBlue {background:rgb(0 192 255 / 80%); color: black;}
.text-white {
  color: white !important;
}
.text-black {
  color: black !important;
}
.text-stroke {
  -webkit-text-stroke: 1px rgb(194 103 199);
}
.d-grid {
  display: grid;
}
.searchbar-grid {
  grid-template-columns: auto 60px;
  border-start-end-radius: 2pc;
  border-end-end-radius: 2pc;
  display: none;
}
.searchbar-grid button {
  box-shadow: 0px 0px 3px 0px grey;
  background: #f65655;
  border-radius: 1.4pc;
  margin-bottom: 5px;
}
.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .grid-md {
    display: grid!important;
  }
  .block-md {
    display: block!important;
  }
  
}
@media (min-width: 768px) {
  .grid-sm {
    display: grid!important;
  }
  .block-sm {
    display: block!important;
  }
  
}
